*.tfstate
*.tfstate.backup
crash.log
.terraform/
.terraform.lock.hcl

**/node_modules/
*.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/package-lock.json
yarn.lock

.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.log